.row {
    border :2px solid black;
    background-color: aquamarine;
    height:150px;
    width: 150px;
  display: flex;
  flex-direction: row;
}
.col{
    border :2px solid black;
    background-color: aquamarine;
    height:150px;
    width: 150px;
  display: flex;
  flex-direction: column;
}
.ext{
    color:cornflowerblue
}
.JC{
    border :2px solid black;
    background-color: aquamarine;
    height:150px;
    width: 150px;
    display:flex;
    justify-content: center;
    /* align-items: center;  vertically*/ 
}
.ZI{
    border :2px solid black;
    background-color: aquamarine;
    height:150px;
    width: 150px;
}
.card1{
    border :2px solid black;
    background-color: rgb(90, 63, 227);
    height:50px;
    width: 50px;
    position: absolute;
    z-index: 1;
}
.card2{
    border :2px solid black;
    background-color: rgb(239, 56, 93);
    height:50px;
    width: 50px;
    position: absolute;
    z-index: 2;
    margin-left: 10px;
}
.P{
    border :2px solid black;
    background-color: rgb(207, 127, 143);
    height:100px;
    width: 100px;
    padding:30px;
    margin: 30px;  
}

.parent {
  position: relative;    
  width: 300px;
  height: 200px;
  background-color: lightblue;
  border: 2px solid black;
}


.relative-box {
  position: relative;    
  top: 20px;               
  left: 10px;            
  background-color: yellow;
  border: 1px solid black;
}

.absolute-box {
  position: absolute;
  top:20px;
  right: 10px;             
  background-color: pink;
  border: 1px solid black;
}